<div>
    <div>
        <div>
            <div>
                <img src="assets/img/montse.png">
            </div>
            <div>
                <p>
                    ¡Hola! ¿Qué tal?<br>
                    Yo soy Montse, propietaria de la casa rutal Antoli y<br>
                    estaré encantada de ayudarte en todo lo que pueda.<br>
                    ¡No dudes en preguntarme cualquier cosa!
                </p>
                <div>
                    <img src="assets/img/phone_call.png">
                    <img src="assets/img/phone.png">
                    <div>
                        CONTESTO LLAMADAS Y WHATSAPP<br>
                        600 041 734
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <p>CARRER MARE DE DÉU D'AGRES, 2, 03837 AGRES, ALICANTE</p>
                <img src="assets/img/ubicacion.png">
            </div>
            <div id="mapa">

            </div>
        </div>
    </div>

    <div>
        <h3>CÓMO LLEGAR</h3>
        <p>
            <b>¿Vienes en avión</b><br>
            Aeropuerto de Alicante (54,8 Km)<br>
            Aeropuerto de Valencia (79,5 Km)<br>
            <b>¿Vienes en tren?</b><br>
            Estación de Agres<br>
            Aeropuerto de Valencia (79,5 Km)
        </p>
        <h3>TARIFAS</h3>
        <p>
            Varía en función del número de noches<br>
            personas y temporada.<br>
            Me gusta partir de una base de 14€ por<br>
            persona y noche, pero lo mejor será que<br>
            me cuentes tus planes y veamos que<br>
            podemos hacer.
        </p>
        <h3>AGRES</h3>
        <p>
            Si quieres saber más sobre el encantador<br>
            y pintoresco pueblo de Agres, te<br>
            recomiendo que visites este enlace:
        </p>
        <button (click)="openWindow()">DESCUBRE AGRES</button>
    </div>
</div>